<div style="display: flex; flex-direction: column;">
    <h1 style="display: flex; justify-content:center; align-items: center; width:100%;" >Panel de control Administrador</h1>
    <div style="display: flex; justify-content:center; align-items: center; width:100%; margin-bottom: 10px; gap:20px;">
    <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(9, 62, 105); color:azure" id='logout'>Cerrar Sesion</button>
     <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(190, 43, 43); color:azure" id='deleteAll'>Eliminar usuarios inactivos</button>
    </div>
      
</div>


<div style="display: flex; gap:100px;">
    <div>
        <div >
            <h2>Product Data</h2>
        </div>
        <div>
            <form id="findProd" style="display: flex; flex-direction: column; width:400px">
                <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                    <label for="ID">Product Id </labe>
                    <input type="text" name="ID" id="pid"  style="flex: 1 1 auto;">
                </div>   
                <button type="submit" style="flex: 1 1 auto; padding:10px">Buscar Producto</button>
                
            </form>
        </div>
        <form action="" id="prodForm" style="display: flex; flex-direction: column; width:400px">
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="ID">Product Id</label>
                <input type="text" name="ID" id="id" style="flex: 1 1 auto;" disabled>
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="title">Product Name</label>
                <input type="text" name="title" id="title" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="description">Product Description</label>
                <input type="text" name="description" id="description" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="price">Product Price</label>
                <input type="text" name="price" id="price" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="status">Product Status</label>
                <input type="text" name="status" id="status" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="thumbnail">Product Thumbnail</label>
                <input type="text" name="thumbnail" id="thumbnail" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="code">Product Code</label>
                <input type="text" name="code" id="code" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="stock">Product Stock</label>
                <input type="text" name="stock" id="stock" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="available">Product Available</label>
                <input type="text" name="available" id="available" style="flex: 1 1 auto;">
            </div>
            <div  style="display: flex; flex-direction: row; gap:15px; margin-top:10px align-items:center; justify-content:center">
                <button type="submit" id ="update" style="padding: 10px 8px; border-radius: 20px; background-color: rgb(28, 111, 167);  color:aliceblue">Actualizar</button>
                <button type="submit" id ="create" style="padding: 10px 8px; border-radius: 20px; background-color: rgb(12, 129, 57);  color:aliceblue ">Crear Producto</button>
                <button type="submit" id ="delete" style="padding: 10px 8px; border-radius: 20px; background-color: rgb(134, 17, 33); color:aliceblue">Eliminar producto</button>
            </div>
        </form>
    </div>

    <div>
        <div >
            <h2>User Data</h2>
        </div>
        <div>
            <form id="findUser" style="display: flex; flex-direction: column; width:400px">
                <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                    <label for="uid">User Id </label>
                    <input type="text" name="uid" id="uid"  style="flex: 1 1 auto;">
                </div>   
                <button type="submit" style="flex: 1 1 auto; padding:10px">Buscar Usuario</button>
                
            </form>
        </div>

        <form action="" id="userForm" style="display: flex; flex-direction: column; width:400px">
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="ID">Id</label>
                <input type="text" name="ID" id="userId" style="flex: 1 1 auto;" disabled>
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="userFirst" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="userLast" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="userEmail">Email</label>
                <input type="text" name="userEmail" id="userEmail" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="role">Role</label>
                <input type="text" name="role" id="userRole" style="flex: 1 1 auto;">
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="last_connection">Last Connection</label>
                <input type="text" name="last_connection" id="last_connection" style="flex: 1 1 auto;" disabled>
            </div>
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="status">User status</label>
                <input type="text"  name="status" id="userStatus" style="flex: 1 1 auto;" >
            </div>
            
            <div style="display: flex; flex-direction: row; gap:10px; margin:10px; width:100%">
                <label for="documents">User Documents</label>
                <input type="text" name="documents" id="userDoc" style="flex: 1 1 auto;">
            </div>
            
            <div  style="display: flex; flex-direction: row; gap:15px; margin-top:10px align-items:center; justify-content:center">
                <button type="submit" id ="updateUser" style="padding: 10px 8px; border-radius: 20px; background-color: rgb(28, 111, 167);  color:aliceblue">Actualizar</button>
                
                <button type="submit" id ="deleteUser" style="padding: 10px 8px; border-radius: 20px; background-color: rgb(134, 17, 33); color:aliceblue">Eliminar Usuario</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/admin.js"></script>