<div id="formLogin">
    <h1>Login</h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input
    name="email"
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="inputPassword5" class="form-label">Password</label>
    <input
    name="password"
      type="password"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
  </div>
   <div class="mb-3">
    <button class="btn btn-primary" type="submit">Ingresá</button>
  </div>
  <h6>Si no sos usuario: <a href="/users/register">Registrate acá</a></p></h3>
</div>

<script src="/js/login.js"></script>