<div class="register">
  <form class="row g-3" id="registerForm">
    <div class="h1-register">
    <h1>Registrate</h1>
    </div>
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Nombre</label>
    <input
    name="first_name"
      type="text"
      class="form-control"
      id="validationDefault01"
      value=""
      required
    />
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Apellido</label>
    <input
    name="last_name"
      type="text"
      class="form-control"
      id="validationDefault02"
      value=""
      required
    />
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Edad</label>
    <input
    name="age"
      type="text"
      class="form-control"
      id="validationDefault02"
      value=""
      required
    />
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Email</label>
    <input
    name="email"
      type="email"
      class="form-control"
      id="validationDefault02"
      placeholder="name@example.com"
      value=""
      required
    />
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Contraseña</label>
    <input
    name="password"
      type="password"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
      value=""
      required
    />
  </div>

  <div class="mb-3">
    <button style="margin-left: 47%;" class="btn btn-primary" type="submit">Registrate</button>
  </div>
  <h6>Si ya sos usuario: <a href="/users/login">Ingresá acá</a></p></h3>
  </form>
</div>

<script src="/js/register.js"></script>