
.allProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card {
    margin: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
}

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#formLogin h1 {
    color: white;
    
}
#formLogin h6 {
    color: white;
    
}

.form-label {
    color: white;
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#registerForm h1 {
    color: white;
}

#registerForm h6 {
    color: white;
}

h6 a i {
    margin: 15px;
}

