.body {
    display: flex;
    flex-direction: column;
    background-color:6C0376;
}

.allProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card {
    margin: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
}

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#formLogin h1 {
    color: white;
    
}
#formLogin h6 {
    color: white;
    
}

.form-label {
    color: white;
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#registerForm h1 {
    color: white;
}

#registerForm h6 {
    color: white;
}

h6 a i {
    margin: 15px;
}

.cardDetail {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 7%;
    padding: 7%;
}
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-actions {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}

#quantity {
    border-radius: 10%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left: 15px;
    background-color:6C0376;
    height: 35%;
}

.partFooter label {
    color: white;
}