.allProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card {
    margin: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
}